<header id="banner">
    <p></p>
    <nav class="navbar">
        <div class="nav-center">
            <div class="nav-header row">
                <div>
                    <img src="/assets/dsac_rainbow_blue.png" height="30" alt="logo" />
                </div>
                <span id="banner">
                    <h1>{{site.title}}</h1>
                    <!-- <h2>{{site.description}}</h2> -->
                </span>
                <div class="row align-right">
                    {% for area in site.areas %}
                    <ul class="page-links nav-links">
                        <a href="{{area.url}}">{{ area.url | replace: "/","" | capitalize }}</a>
                    </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
    </nav>


    <!-- <nav role="navigation">
        <div class="row">
            {% for area in site.areas %}
            <div class="col-auto">
                <a href="{{area.url}}">{{ area.url | replace: "/","" | capitalize }}</a>
            </div>
            {% endfor %}
        </div>
    </nav> -->
</header>