<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Students united through data science</h1>
            <hr />
            <p>
                We bring undergraduate and graduate students at the University
                of Virginia together to discuss and engage in data science.
            </p>
            <a href="#about-us" class="btn btn-primary btn-xl page-scroll"
                >Find Out More</a
            >
        </div>
    </div>
</header>
